h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(9, 4, 31);
}

body{
    font-family: sans-serif;
    width: 100%;
    text-transform: uppercase;
    background: #344453;
    background-size: cover;
    padding-top: 20px;
}
.login-form{
    width: 30%;
    margin:0 auto;
    background:rgb(13, 103, 148);
    background-size: cover;
    background-position: center;
    padding: 10px 33px 47px;
    border-top: 6px solid #00c3ff;
    border-bottom: 6px solid #00c3ff;
    box-shadow: 0px 35px 44px --22px rgba(11, 11, 11, 0.72);
}

.form-reg{
    width: 30%;
    margin:0 auto;
    background:rgb(13, 103, 148);
    background-size: cover;
    background-position: center;
    padding: 10px 33px 30px;
    border-bottom: 6px solid #00c3ff;
    box-shadow: 0px 35px 44px --22px rgba(0,0,0,0.72);
}

form{
    margin: 0 auto;
}
form p {
    font-size: 15px;
    margin-top: 28px;
    padding: 0.2px;
    color: white;
}

.login-form form input[type= "text"], input[type="password"],[type="email"]{
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 5px 2px;
    margin: 0 auto;
    width: 95%;
    border: none;
    border-bottom: 2px solid #01011a;
    display: block;
    background: transparent;    
}

input[type="submit"]{
    width: 100%;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 13px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: #022029;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}
input[type="submit"]:hover{
    background: #1f31f5;
    transition: 0.3s all;
}
.login-form a {
    display: block;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin-top: 31px;
    transition: 0.3s all;
}

.login-form a:hover{
    color: #010b0f;
    transition: 0.3s all;
}