<!-- Registro de usuarios nuevos -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'color.css')}}">
</head>
<body>
    <div class="login-form">
    <h1>New here?</h1>
    <form action="/usuario" method="post">
        <p>
            <label for="">Name</label>
            <input type="text" required maxlength="30">
        </p>
        <p>
            <label for="">Username</label>
            <input type="text" required minlength="" maxlength="15">
        </p>
        <p>
            <label for="">Password</label>
            <input type="password" required minlength="5">
        </p>
        <p>
            <label for="">Confirm password</label>
            <input type="password" required>
        </p>
        <input type="submit" value="Sing in">
        <p>
        <a href="/">already have an account?</a>
        </p>
    </form>
    </div>

</body>
</html>